.wpba {
	width: 100%;
	height: 100%;
	li {
		cursor: pointer;
		margin: 0 20px 20px 0;
		padding-bottom: 20px;
		border-bottom: 1px solid #dfdfdf;
		clear: both;
		min-height: 150px;
	}
	.wpba-saving {
		height: 24px;
		line-height: 24px;
		margin-left: 10px;
		span { height: 100%; display: inline-block; }
		img { margin-bottom: -3px; }
	}
	.wpba-edit-attachment {
		a { text-decoration: none; }
	}
	.wpba-preview {
		width: 150px;
		height: 150px;
		-webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.1),inset 0 0 0 1px rgba(0,0,0,0.05);
		box-shadow: inset 0 0 15px rgba(0,0,0,0.1),inset 0 0 0 1px rgba(0,0,0,0.05);
		background: #eee;
		border: 1px solid #ccc;
		margin-right: 20px;
		.icon-wrap  { text-align: center; width: 100%; }
		.icon { margin: 35px auto; }
		&:hover > .wpba-edit-attachment {
			display: inline-block;
		}
		.wpba-edit-attachment {
			position: absolute;
			margin: 7px 0 0 7px;
			display: none;
			li {
				margin : 0 5px 0 0;
				clear: none;
				min-height: 0;
				border-bottom: none;
			}
		}
	}
	.wpba-attachment-name {
		width: 150px;
		text-align: center;
		height: 30px;
		line-height: 30px;
		font-weight: bold;
		margin-top: -28px;
		position: absolute;
		margin: 119px 0 0 0;
		border-top: 1px solid #ccc;
		overflow: hidden;
		background: white;
		background: rgba(255,255,255,0.8);
		box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15);
	}
} // .wpba


#wpba_edit_screen {
	iframe {
		width: 100%;
		height: 100%;
	}
	.media-modal-close {
		width: 40px;
		background: white;
		background: rgba(255,255,255,.9);
		right: 20px;
	}
	#wpcontent {
		width: 96%;
		margin: 0 2%;
	}
} // ##wpba_edit_screen