.wpba {
	width: 100%;
	height: 100%;
	.uploader { margin-top: 10px; margin-bottom: 10px; }
	#wpba_image_sortable { padding-top: 20px; border-top: 1px solid #dfdfdf;  }
	li {
		clear: both;
		margin: 0 20px 20px 0;
		padding-bottom: 20px;
		min-height: 150px;
		border-bottom: 1px solid #dfdfdf;
		cursor: pointer;
	}
	.wpba-saving {
		margin-left: 10px;
		height: 24px;
		line-height: 24px;
		span { display: inline-block; height: 100%; }
		img { margin-bottom: -3px; }
	}
	.wpba-edit-attachment {
		a { text-decoration: none; }
	}
	.wpba-drag-handle {
		position: absolute;
		right: 32px;
		width: 40px;
		height: 28px;
		background-image: url("../img/handle-icon.png");
	}
	.wpba-preview {
		margin-right: 20px;
		width: 150px;
		height: 150px;
		border: 1px solid #ccc;
		background: #eee;
		-webkit-box-shadow: inset 0 0 15px rgba(0,0,0,0.1),inset 0 0 0 1px rgba(0,0,0,0.05);
		box-shadow: inset 0 0 15px rgba(0,0,0,0.1),inset 0 0 0 1px rgba(0,0,0,0.05);
		.icon-wrap  { width: 100%; text-align: center; }
		.icon { margin: 35px auto; }
		&:hover > .wpba-edit-attachment {
			display: inline-block;
		}
		.wpba-edit-attachment {
			position: absolute;
			display: none;
			margin: 7px 0 0 7px;
			li {
				clear: none;
				margin : 0 5px 0 0;
				min-height: 0;
				border-bottom: none;
			}
		}
	}
	.wpba-attachment-name {
		position: absolute;
		overflow: hidden;
		margin: 119px 0 0 0;
		margin-top: 120px;
		width: 150px;
		height: 30px;
		border-top: 1px solid #ccc;
		background: white;
		background: rgba(255,255,255,0.8);
		box-shadow: inset 0 0 0 1px rgba(0,0,0,0.15);
		text-align: center;
		font-weight: bold;
		line-height: 30px;
	}
	.wpba-form-wrap {
		width: 400px;
		input {
			max-width: 98%;
			width: 100%;
		}
		.wpba-attachment-title { margin-bottom: 10px; }
		.wpba-attachment-caption { height: 40px; resize:vertical; }
	}
	.wpba-attachment-id-output {
		margin-bottom: 10px;
		font-size: 14px;
	}
} // .wpba


#wpba_edit_screen {
	iframe {
		width: 100%;
		height: 100%;
	}
	.media-modal-close {
		right: 20px;
		width: 40px;
		background: white;
		background: rgba(255,255,255,.9);
	}
	#wpcontent {
		margin: 0 2%;
		width: 96%;
	}
} // ##wpba_edit_screen