.wpba {
	ol.unstyled,
	ul.unstyled { margin-left: 0; list-style: none; }
	.pull-left { float: left; }
	.pull-right { float: right; }
	.clearfix { *zoom: 1; }
	.clearfix:before,.clearfix:after {
		display: table;
		line-height: 0;
		content: "";
	}
	.clearfix:after { clear: both; }
	.img-polaroid {
		padding: 4px;
		background-color:#fafafa;
		border: 1px solid #ccc;
		border: 1px solid rgba(0,0,0,0.2);
		-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
		-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
		box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	}
	.clear { clear: both; }
} // .wpba