.wpba-meta-box-wrap {
	padding-top: 20px;

	.ui-state-highlight { 
		background: #eee;
		border: 1px dashed darken(#eee, 15%); 
	} // .ui-state-highlight

	.wpba-sort-handle {
		right: 0;
		top: 0;
		position: absolute;
		padding: 0 10px 10px;
		font-size: 32px;
		width: 32px;
		height: 32px;
		cursor: move;
	} // .wpba-sort-handle

	li.wpba-sortable-item {
		position: relative;
		padding-bottom: 20px;
		padding-right: 55px;
		margin-right: 20px;
		margin-bottom: 20px;
		border: 0;
		background: none;
	} // .wpba-sortable-item

	.wpba-attachment-image-wrap {
		.inner {
			position: relative;

			.wpba-attachment-menu {
				@include background-opacity(#fff, 0.85);
				display: none;
				width: 150px;
				height: 90px;
				position: absolute;
				top: 1px;
				bottom: 0;
				left: 1px;
				right: 0;
				padding: 30px 0;

				li {
					line-height: 30px;
					width: 100%;
					font-size: 16px;
				} // li

				a {
					color: #0074a2;

					&:hover,
					&:active,
					&:focus {
						color: #2ea2cc;
					}
				} // a
			} // .wpba-attachment-menu
		} // .inner

		img { border: 1px solid #eee; }

		&:hover .wpba-attachment-menu {
			display: block;
			cursor: pointer;
		} // &:hover .wpba-attachment-menu
	} // .wpba-attachment-image-wrap

	.wpba-attachment-fields-wrap {
		padding-left: 20px;
		margin-left: 20px;
	} // .wpba-attachment-fields-wrap

	.wpba-textarea-input-wrap,
	.wpba-text-input-wrap {
		margin-bottom: 10px;

		label {
			width: 100px;
			margin-right: 10px;
			height: 27px;
			line-height: 27px;
		} // label

		textarea,
		input { width: 300px; }

		textarea { resize: vertical; }
	} // .wpba-textarea-input-wrap, .wpba-text-input-wrap
} // .wpba-meta-box-wrap