.wpba-utils {
	&.pull-left,
	.pull-left {
		float: left;
	}

	&.pull-right,
	.pull-right {
		float: right;
	} // &.pull-right,.pull-right

	&.list-unstyled,
	.list-unstyled {
		padding-left: 0;
		list-style: none;
	} // .list-unstyled

	&.list-inline,
	.list-inline {
		@extend .list-unstyled;
		margin-left: -5px;

		> li {
			display: inline-block;
			padding-left: 5px;
			padding-right: 5px;
		}
	}

	&.cl,
	.cl,
	&.clear,
	.clear {
		clear: both;
	} // &.clear, .clear

	&.clearfix,
	.clearfix {
		@include clearfix();
	} // &.clearfix, .clearfix

	&.text-center,
	.text-center {
		text-align: center;
	} // &.text-center, .text-center

	&.text-left,
	.text-left {
		text-align: left;
	} // &.text-left, .text-left

	&.text-right,
	.text-right {
		text-align: right;
	} // &.text-right, .text-right
} // .wpba-utils