@import "partials/utilities";
@import "admin/meta-box";
@import "admin/imgareaselect-default";

/* Settings */
.wpba-nav-tab-wrapper { display: none; }
#wpba_settings {
	h3 { display: none; }
	.form-table tr { display: none; }
} // #wpba_settings

/* Attachment Editor */
// .imgareaselect-border1,
// .imgareaselect-border2,
// .imgareaselect-border3,
// .imgareaselect-border4,
// .imgareaselect-selection,
// .imgareaselect-outer {
// 	display: none!important;
// 	&.show { display: block!important; }
// }
.wpba-attachment-editor {
	.description { max-width: 650px; width: 100%; }
	.unstyled { list-style: none; margin-left: 0; }
	.pull-left { float: left; }
	.pull-right { float: right; }
	a.reset-thumbnails { padding: 7px 10px; text-decoration: none; }
	// .hide { display: none; }
	// .show { display: block; }
} // .wpba-attachment-editor