@import "partials/utilities";
@import "partials/meta-box";
@import "partials/imgareaselect-default";

/* Settings */
.nav-tab-wrapper { display: none; }
#wpba_settings {
	h3 { display: none; }
	.form-table {
		tr { display: none; }
	}
}